.hell{
    margin-top: 20px;
}
.meee{
    background-color: black;
    height: 180px;
    width: 100%;
    border-bottom: 6px solid purple;
    border-radius: 20px;
}
.gojo55{
    height: 150px;
    width: 150px;
    background-color: black;
    margin-left: 230px;
}
.gojo5{
    height: 150px;
    width: 150px;
    background-color: rgb(24, 21, 21);
    margin-left: 630px;  
}
.blog1{
    color: rgb(238, 140, 21);
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    transform: translateY(-120px);
}
.blog2{
    text-align: center;
    transform: translate(380px, -110px);
    color: rgb(241, 141, 18);
    border-bottom: 5px solid orangered;
    padding-bottom: 5px;
    border-radius: 20px;
    width: 630px;
}
.white{
    background-color: black;
    margin-bottom: 20px;
}
.suggestion{
    font-size: 35px;
    font-weight: 800;
    color: rgb(233, 89, 6);
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 20px;
    padding: 5px;
    border-bottom: 5px solid rgb(236, 17, 163);
}
.todolist{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 20px;
    border-bottom: 5px solid rgb(228, 104, 22);
    border-right: 5px solid rgb(228, 106, 6);
}
.btnpost{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 20px;
    border-bottom: 5px solid rgb(228, 104, 22);
    border-right: 5px solid rgb(228, 106, 6);
}
.deletpost{
    width: 100px;
    height: 35px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 20px;
    border-bottom: 5px solid rgb(228, 104, 22);
    border-right: 5px solid rgb(228, 106, 6);
}

.showiterm1{
    font-weight: 600;
    font-size: 24px;
    color: rgb(253, 39, 253);
    width: 500px;
    border-bottom: 5px solid rgb(236, 77, 4);
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 20px;
    padding: 5px;
    border-right: 5px solid rgb(236, 77, 4);
}
.showiterm2{
    margin-top: 20px;
    margin-left: 100px;
    font-weight: 600;
    font-size: 24px;
    color: rgb(224, 17, 224);
    width: 500px;
    border-radius: 20px;
    padding: 5px;
    border-right: 5px solid rgb(238, 72, 6);
    border-bottom: 5px solid rgb(238, 72, 6);
}
.givedisplayflex{
    display: flex;
    
    background-color: black;
}
.newimage{
    height: 800px;
    width: 600px;
    margin-left: 100px;
}
